<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sl.No</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Progress</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      @for(item of data; track $index) {
      <tr>
        <td>{{$index + 1}}</td>
        <!-- @if(editingItem && editingItem.id === item.id) {
        <td>
          <input type="text" class="form-control" [(ngModel)]="editingItem.task" name="editTask_{{$index}}" required>
        </td>
        <td>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="todo_{{$index}}" name="progress_{{$index}}"
              [(ngModel)]="editingItem.status" value="To-Do">
            <label class="form-check-label" for="todo_{{$index}}">To-Do</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="inprogress_{{$index}}" name="progress_{{$index}}"
              [(ngModel)]="editingItem.status" value="In Progress">
            <label class="form-check-label" for="inprogress_{{$index}}">In Progress</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="completed_{{$index}}" name="progress_{{$index}}"
              [(ngModel)]="editingItem.status" value="In QA">
            <label class="form-check-label" for="completed_{{$index}}">In QA</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="completed_{{$index}}" name="progress_{{$index}}"
              [(ngModel)]="editingItem.status" value="Completed">
            <label class="form-check-label" for="completed_{{$index}}">Completed</label>
          </div>
        </td>
        <td>
          <button class="btn btn-outline-success btn-sm w-100" (click)="saveItem()">Save</button>
          <button class="btn btn-outline-danger btn-sm w-100 mt-1" (click)="cancelEdit()">Cancel</button>
        </td>
        <td></td>
        } @else { -->
        <td>{{item.task}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
        <td><button class="btn btn-outline-info btn-sm w-100" (click)="editItem(item)">Edit</button></td>
        <td><button class="btn btn-outline-danger btn-sm w-100" (click)="deleteItem(item)">Delete</button></td>
        }
      <!-- </tr> -->
      <!-- } -->
    </tbody>
  </table>
</div>