<div class="container w-25">
  <form #formref="ngForm">
    <div class="mb-3">
      <label for="task" class="form-label">Enter Task</label>
      <input type="text" class="form-control" [(ngModel)]="userTask" name="task" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Choose Progress</label>
      <div class="form-check">
        <input type="radio" class="form-check-input border-dark" name="progress" [(ngModel)]="seletedProgress" value="To-Do">
        <label class="form-check-label">To-Do</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input border-dark" name="progress" [(ngModel)]="seletedProgress" value="In Progress">
        <label class="form-check-label">In Progress</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input border-dark" name="progress" [(ngModel)]="seletedProgress" value="Completed">
        <label class="form-check-label">Completed</label>
      </div>
    </div>

    <div class="d-flex ">
      <button type="button" class="btn btn-primary w-100" (click)="handleSubmit(formref)">Submit</button>
    </div>
  </form>
</div>
