<h1 class="text-center fw-bold mt-3 text-secondary">KANBANBOARD</h1>
<div class="container-fluid">
  <div class="row mt-5 ">
    @for(status of statuses;track $index){
    <div class="col-lg-3 col-md-6 col-12 mb-3 ">
      <div class="column p-3 rounded h-100">
        <div class="d-flex gap-3 align-items-center fw-bold">
          <p class="text-secondary ">{{status | uppercase}} </p>
          <p class="scount text-light">{{filterTask(status).length}}</p>
        </div>
        @for(task of filterTask(status);track $index){
        @if(editingItem && editingItem.id==task.id){
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <div>
              <input type="text" class="form-control edit-input" [(ngModel)]="editingItem.task" required>
              <div class="radio-div">
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="todo_{{$index}}" name="progress_{{$index}}"
                    [(ngModel)]="editingItem.status" value="To-Do">
                  <label class="form-check-label" for="todo_{{$index}}">To-Do</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="inprogress_{{$index}}" name="progress_{{$index}}"
                    [(ngModel)]="editingItem.status" value="In Progress">
                  <label class="form-check-label" for="inprogress_{{$index}}">In Progress</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="completed_{{$index}}" name="progress_{{$index}}"
                    [(ngModel)]="editingItem.status" value="In QA">
                  <label class="form-check-label" for="completed_{{$index}}">In QA</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" id="completed_{{$index}}" name="progress_{{$index}}"
                    [(ngModel)]="editingItem.status" value="Completed">
                  <label class="form-check-label" for="completed_{{$index}}">Completed</label>
                </div>
                <div class="d-flex gap-2">
                  <button class="btn btn-outline-success btn-sm w-75" (click)="saveItem()">Save</button>
                  <button class="btn btn-outline-danger btn-sm w-75" (click)="cancelEdit()">Cancel</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        }@else{
        <div class="card text-bg-light mb-3 m-auto" style="max-width: 18rem;">
          <div class="card-body">
            <p class="card-text tasks">{{task.task | uppercase}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2">
                <i class="fa-solid fa-bookmark text-light"></i>
                <div class="nuc">{{task.id | uppercase}}</div>
              </div>
              <div class="d-flex gap-4 ">
                <i class="fa-solid fa-pen edits" (click)="editItem(task)"></i>
                <i class="fa-solid fa-trash edits" (click)="deleteItem(task)"></i>
              </div>
              <div class="d-flex gap-3 align-items-center">
                <div class="slNo">{{$index+1}}</div>
                <div class="profile">
                  <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
                    class="border rounded-circle" style="width: 30px; height: 30px;" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        }
      </div>
    </div>
    }
  </div>
</div>