<h1 class="text-center fw-bold mt-3 text-secondary">KANBANBOARD</h1>
<div class="container-fluid">
  <div class="row mt-5">
    @for(status of statuses;track $index){
    <div class="col-12 md:col-6 lg:col-3 mb-3">
      <div class="column p-3 rounded h-100">
        <div class="d-flex gap-3 align-items-center fw-bold">
          <p class="text-secondary">{{ status | uppercase }}</p>
          <p class="scount text-light">{{ filterTask(status).length }}</p>
        </div>
        @for(task of filterTask(status);track $index){
        <div class="card text-bg-light mb-3 m-auto" style="max-width: 18rem">
          <div class="card-body">
            <p class="card-text tasks fw-semibold">
              {{ task.task | uppercase }}
            </p>
            <p class="card-text tasks">{{ task.description }}</p>
            <p class="card-text tasks fw-semibold text-danger">Due  {{ task.duedate ? task.duedate: 'today' }} </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2">
                <i class="fa-solid fa-bookmark text-light"></i>
                <div class="nuc">{{ task.id | uppercase }}</div>
              </div>
              <div class="d-flex gap-4">
                <i class="fa-solid fa-pen edits" (click)="editItem(task)"></i>
                <i
                  class="fa-solid fa-trash edits"
                  (click)="deleteItem(task)"
                ></i>
              </div>
              <div class="d-flex gap-3 align-items-center">
                <div class="slNo">{{ $index + 1 }}</div>
                <div class="profile">
                  <img
                    src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg"
                    class="border rounded-circle"
                    style="width: 30px; height: 30px"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
